<!DOCTYPE html>
<html>
<head>
  <title>Delete Page</title>
</head>
<body>
  

    <form method="post">

      <fieldset>
        <legend>Delete</legend>
        <table>
          <tr>
            <td>Product Name:</td>
            <td><%= user.productName %></td>
          </tr>
          <tr>
            <td>Quantity</td>
            <td><%= user.quantity %></td>
          </tr>
          <tr>
            <td>Price</td>
            <td><%= user.price %></td>
          </tr>
          <tr>
            <td><h3>Are you sure? This can't be undone!</h3><br></td>
            <td>
              <input type="hidden" name="id" value="<%= user.id %>">
              <input type="submit" name="submit" value = "Delete"></td>
          </tr>
          </tr>
        </table>
      </fieldset>
    </form>
    <a href="/employee/AllProducts">Product List</a> | <a href="/logout">Logout</a>
    <br>
</body>
</html>