<!DOCTYPE html>
<html>
<head>
    <title>Employee</title>
</head>
<body>
    <form method="post">
    	<h2 align="center">Welcome To your account!</h2>
        <fieldset>
            <legend>EmpActions</legend>
            <table>
              <tr>
                <td><button><a href="/employee/AllProducts">Products</a></button></td>
              </tr>
              <tr>
                <td><button><a href="/employee/add">Add Products</a></button></td>
              </tr>
            </table>
            	<b><a href="/logout">Logout</a></b>
        </fieldset>
    </form>
</body>